[submodule "Duck/vendor/spdlog"]
	path = Duck/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Duck/vendor/GLFW"]
	path = Duck/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
